* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --square-size: 100px;
    --marker-size: calc(var(--square-size)*0.7);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.square-box {
    height: var(--square-size);
    width: var(--square-size);
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-box:nth-child(1),
.square-box:nth-child(2),
.square-box:nth-child(3) {
    border-top: none;
}

.square-box:nth-child(3n+1) {
    border-left: none;
}

.square-box:nth-child(3n) {
    border-right: none;
}

.square-box:nth-child(7),
.square-box:nth-child(8),
.square-box:nth-child(9) {
    border-bottom: none;
}

.cross::after,
.cross::before {
    content: "";
    background-color: black;
    width: calc(var(--marker-size)*0.17);
    height: var(--marker-size);
    position: absolute;
}

.cross::after {
    transform: rotate(45deg);
}

.cross::before {
    transform: rotate(-45deg);
}

.circle::after,
.circle::before {
    content: "";
    border-radius: 50%;
    position: absolute;
}

.circle::before {
    background-color: black;
    width: var(--marker-size);
    height: var(--marker-size);
}

.circle::after {
    width: calc(var(--marker-size)*0.7);
    height: calc(var(--marker-size)*0.7);
    background-color: white;
}

.endGame-popup {
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
    backdrop-filter: blur(10px);
}

.game-message {
    font-size: 4rem;
}

.restartButton {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(158, 158, 158);
    border: none;
    color: white;
    font-weight: 700;
    transition: .3s;
}

.restartButton:hover{
    transform: scale(1.05);
    background-color: rgb(37, 37, 37);
}

.show{
    display: flex;
}