* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root{
    --square-size: 100px;
    --marker-size: calc(var(--square-size)*0.7);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.square-box {
    height: var(--square-size);
    width: var(--square-size);
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-box:nth-child(1),
.square-box:nth-child(2),
.square-box:nth-child(3) {
    border-top: none;
}

.square-box:nth-child(3n+1) {
    border-left: none;
}

.square-box:nth-child(3n) {
    border-right: none;
}

.square-box:nth-child(7),
.square-box:nth-child(8),
.square-box:nth-child(9){
    border-bottom: none;
}

.cross::after,
.cross::before{
    content: "";
    background-color: black;
    width: calc(var(--marker-size)*0.2);
    height: var(--marker-size);
    position: absolute;
}

.cross::after{
    transform: rotate(45deg);
}

.cross::before{
    transform: rotate(-45deg);
}